*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
label.body-ServerIntern-Text{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
label.body-ServerIntern-Text a{
    color: black;
}
nav.body-menu-nav{
    background-color: white;
    height: 80px;
    width: 100%;
}
ul.body-menu-ul{
    float:right;
}
li.body-menu-li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
li.body-menu-li a{
    color: black;
}
.body-typer-div h2{
    position: absolute;
    top: 100px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
.body-typer-span{
    color: #f7b731;
}
.body-typer-madepossible-div h2{
    position: absolute;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 50;
    padding: 0;
    color: rgb(255, 255, 255);
    border: auto;
    box-sizing: border-box;
}
.body-typer-madepossible-span{
    color: #31b8f7;
    border: auto;
}
.body-madepossible-susi2005kg-h1{
 color: #ffffff;
 text-align: right;
margin-top: 100px;
border: auto;
}.body-madepossible-susi2005kg-h1 a{
    color: white;
}
