*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
label.body-ServerIntern-Text{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
label.body-ServerIntern-Text a{
    color: black;
}
nav.body-menu-nav{
    background-color: white;
    height: 80px;
    width: 100%;
}
ul.body-menu-ul{
    float:right;
}
li.body-menu-li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
li.body-menu-li a{
    color: black;
}